*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
}

nav{
    background-color: #F8F8F8;
    height: 60px;

}

ul{
    display: inline-block;
    padding-left: 150px;
}

li{
    display: inline-block;
}

.social-icons{
    display: inline-block;
    float: right;
}

.social-icons{
    display: inline-block;
}

.fa-facebook{
    color: #C2C2C2;
    display: inline-block;
}

.fa-facebook:hover{
    color: #E54304;
}

.fa-twitter{
    color: #C2C2C2;
}
.fa-twitter:hover{
    color: #E54304;
}


.fa-pinterest{
    color: #C2C2C2
}
.fa-pinterest:hover{
    color: #E54304;
}


.fa-google-plus{
    color: #C2C2C2
}

.fa-google-plus:hover{
    color: #E54304;
}


.fa-instagram{
    color: #C2C2C2;
}

.fa-instagram:hover{
    color: #E54304;
}


.fa-search{
    color: #C2C2C2;
    float: right;
}

.fa-search:hover{
    color: #E54304;
}

header{
    border: #E54304 solid 2px;
    margin: auto;
    text-align: center;
}
.primary-content {
    max-width: 1200px;
    border: aquamarine solid 2px;
    margin: auto;
}
/* .primary-content:after{

    clear: both;
} */

#blogs{
    width: 750px;
    float: left;
    border: yellow solid 10px;
}

.right{

    width: 360px;
    margin-left: 800px;
    border: blueviolet solid 1px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


.post-text{
    border: pink solid 2px;
    max-width: 750px;
    margin: auto;
}

.page-buttons{
    clear: both;
}


img{
    max-width: 100%;
}

.rounded{
    border-radius: 50%;
}

