*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
}

nav{
    background-color: #F8F8F8;
    height: 60px;

}

ul{
    display: inline-block;
    padding-left: 150px;
}

li{
    display: inline-block;
    font-family: lato, Arial, sans-serif;
    color: #4D4D4D;
}

li:hover{
    color: #E54304;
}

p{
    font-family: lato, Arial, sans-serif;
    color: #4D4D4D;
}

h5{
    font-family: Oswald, sans-serif;
    color: #EA5512;
    text-transform: uppercase;
}

h4{
    font-family: Oswald, sans-serif;
    color: #4D4D4D;
    text-align: center;
}

h3{
    font-family: Oswald, sans-serif;
    color: #4D4D4D;
    text-align: center;
}

h2{
   font-family: Oswald, sans-serif;
    color: #4D4D4D;
    margin-left: auto;
    margin-right: auto;

    margin-top: 5px;
    margin-bottom: 5px;

}

.fa-arrow-down{
    color: #C2C2C2;
    display: inline-block;
}

.fa-arrow-down:hover{
    color: #E54304;
}


.social-icons{
    display: inline-block;
    float: right;
}

.social-icons {
    display: inline-block;
}

.fa-facebook{
    color: #C2C2C2;
    display: inline-block;
}

.fa-facebook:hover{
    color: #E54304;
}

.fa-twitter{
    color: #C2C2C2;
}
.fa-twitter:hover{
    color: #E54304;
}

.fa-pinterest{
    color: #C2C2C2;
}
.fa-pinterest:hover{
    color: #E54304;
}


.fa-google-plus{
    color: #C2C2C2;
}

.fa-google-plus:hover{
    color: #E54304;
}

.fa-instagram{
    color: #C2C2C2;
}

.fa-instagram:hover{
    color: #E54304;
}

.fa-search{
    color: #C2C2C2;
    float: right;
}

.fa-search:hover{
    color: #E54304;
}

header{
   /*why does text-align work when margin: auto didnt?*/
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;

}
.primary-content {
    max-width: 1200px;
    margin: auto;
}

#blogs{
    width: 750px;
    float: left;
    /*
    border: grey solid 1px;
     */
    background: #FFFFFF;
}

.post-footer{
    font-style: italic;
}
.right{

    width: 360px;
    margin-left: 800px;
    /*
    border: darkred solid 1px;
     */
}

.pop-date{
    font-style: italic;
}

/*doesn't work....why??*/
.post-footer{
    font-style: italic;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.pop-posts{
    background: #FFFFFF;
}



.post-text{
    /*
    border: pink solid 2px;
     */
    max-width: 750px;
    margin: auto;
}

.page-buttons{
    clear: both;
}

button{
    font-family: Oswald, sans-serif;
    color: #EA5512;
    text-transform: uppercase;
}

button:hover{
    background-color: #E54304;
}

img{
    max-width: 100%;
    height: auto;
    width: auto;
}

.bio-box{
    background: #FFFFFF;
    position: relative;
}
.rounded{
    border-radius: 50%;
    border: #FFFFFF solid 7px;
    max-width: 180px;
    display: inline-block;
    margin: -70px 0 auto;
    text-align: center;

    /*
    transform: translate(2, 8);
     */
}

.center{
    text-align: center;
}

#photo-string{
    margin: auto;
    width: 1200px;

}
.photo-string {
    max-height: 100%;
    max-width: 150px;
    display: inline-block;
    padding: 0px;
    margin: auto;
    float: left;

}

.fake-foot{
    text-align: center;
    background: #FFFFFF;
}

footer{
    background-color: #202020;
    color: #6F6F6F;
    text-align: center;
    clear: both;
}

